In [1]:
%matplotlib widget

In [2]:
import pandas as pd
import geopandas as gpd

import matplotlib.pyplot as plt
import folium

# read Grid Baden-Württemberg (1x1km)

sources:

https://gdz.bkg.bund.de/index.php/default/geographische-gitter-fur-deutschland-in-utm-projektion-geogitter-national.html

https://www.eea.europa.eu/data-and-maps/data/eea-reference-grids-2

In [3]:
path_ = r"D:\Projekte\HiMeMo\shp\\"

In [4]:
grid=gpd.read_file(path_+r'grid-bw\baden-wuerttemberg-grid1km.shp')

In [5]:
grid.plot()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [6]:
plt.close(1)

In [7]:
grid.crs

<Projected CRS: EPSG:25832>
Name: ETRS89 / UTM zone 32N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Europe - 6°E to 12°E and ETRS89 by country
- bounds: (6.0, 38.76, 12.0, 83.92)
Coordinate Operation:
- name: UTM zone 32N
- method: Transverse Mercator
Datum: European Terrestrial Reference System 1989
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [8]:
#grid.crs
grid = grid.to_crs({'init': 'epsg:3035'})

C:\Users\thom_nn\.conda\envs\geo_basics\lib\site-packages\pyproj\crs.py:77: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method.
  return _prepare_from_string(" ".join(pjargs))

In [9]:
grid.head()

,rowid,featuretyp,dataset_na,OBJECTID,id,x_sw,y_sw,x_mp,y_mp,f_staat,...,SN_V2,SN_G,FK_S3,NUTS,EWZ,KFL,SHAPE_Le_1,SHAPE_Ar_1,_sum,geometry
0,1202.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1202,1kmN5265E399,399000.0,5265000.0,399500.0,5265500.0,193454.0,...,00,000,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,180.808108,"POLYGON ((4145049.219 2716779.268, 4145587.602..."
1,1203.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1203,1kmN5265E400,400000.0,5265000.0,400500.0,5265500.0,724457.0,...,00,000,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,804.211853,"POLYGON ((4145580.204 2716219.458, 4145587.602..."
2,1204.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1204,1kmN5265E401,401000.0,5265000.0,401500.0,5265500.0,822318.0,...,00,000,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,1133.568177,"POLYGON ((4146577.415 2715940.046, 4146588.363..."
3,1205.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1205,1kmN5265E402,402000.0,5265000.0,402500.0,5265500.0,447244.0,...,00,000,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,416.022656,"POLYGON ((4147578.976 2715984.983, 4147589.127..."
4,1206.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1206,1kmN5265E403,403000.0,5265000.0,403500.0,5265500.0,24422.0,...,00,000,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,24.337452,"POLYGON ((4148587.305 2716535.038, 4148589.895..."

# read Lines

In [10]:
line=gpd.read_file(path_ + 'bawue/bw-links.shp')
len(line)

18244

In [11]:
line.head()

,id,fromnode,tonode,length,type,nuts_id,urban,load_car,load_lcv,load_mft,...,SN_V1,SN_V2,SN_G,FK_S3,NUTS,EWZ,KFL,SHAPE_Leng,SHAPE_Area,geometry
0,80677104,80192562,80192249,0.561741,3.0,DE111,2.0,1.396141e+07,1095814.0,205465.0,...,00,00,000,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,"LINESTRING (509846.088 5401249.130, 509293.011..."
1,80719516,80196271,80196192,0.333840,2.0,DE111,1.0,2.681434e+07,365271.0,68488.0,...,00,00,000,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,"LINESTRING (513015.178 5403306.694, 512956.454..."
2,80255352,80196531,80197157,0.699563,3.0,DE111,1.0,1.857994e+07,1095814.0,205465.0,...,00,00,000,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,"LINESTRING (513133.381 5410162.765, 513530.876..."
3,80262630,80191842,80192835,1.543261,3.0,DE111,2.0,1.373626e+07,1095814.0,205465.0,...,00,00,000,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,"LINESTRING (508622.911 5400562.918, 510084.996..."
4,80788212,80197754,80197426,0.713568,2.0,DE111,1.0,2.051346e+07,365271.0,68488.0,...,00,00,000,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,"LINESTRING (514101.488 5404034.268, 513815.728..."

In [12]:
line.columns

Index(['id', 'fromnode', 'tonode', 'length', 'type', 'nuts_id', 'urban',
       'load_car', 'load_lcv', 'load_mft', 'load_hft', 'fid', 'AGS', 'RS',
       'SDV_RS', 'GEN', 'BEZ', 'IBZ', 'BEM', 'NBD', 'SN_L', 'SN_R', 'SN_K',
       'SN_V1', 'SN_V2', 'SN_G', 'FK_S3', 'NUTS', 'EWZ', 'KFL', 'SHAPE_Leng',
       'SHAPE_Area', 'geometry'],
      dtype='object')

In [13]:
line = line[['id', 'fromnode','tonode', 'length', 'type', 'nuts_id', 'urban', 'load_car', 'load_lcv', 'load_mft', 'load_hft','geometry']].copy()

#### Split lines with grid

In [14]:
line = line.to_crs({'init':'epsg:3035'})

C:\Users\thom_nn\.conda\envs\geo_basics\lib\site-packages\pyproj\crs.py:77: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method.
  return _prepare_from_string(" ".join(pjargs))

In [15]:
split = gpd.overlay(line, grid, how='union')
len(split)

32798

In [16]:
# determine new length of split lines
split['length'] = split.length
split.head()

,id_1,fromnode,tonode,length,type,nuts_id,urban,load_car,load_lcv,load_mft,...,SN_V2,SN_G,FK_S3,NUTS,EWZ,KFL,SHAPE_Le_1,SHAPE_Ar_1,_sum,geometry
0,80677104.0,80192562.0,80192249.0,553.587693,3.0,DE111,2.0,1.396141e+07,1095814.0,205465.0,...,00,000,0,DE1,10951893.0,35748.17,2.544263e+06,8.151755e+10,798.160105,"LINESTRING (4257313.607 2850469.181, 4256760.3..."
1,80677106.0,80192173.0,80192573.0,672.780272,3.0,DE111,2.0,1.398125e+07,1095814.0,205465.0,...,00,000,0,DE1,10951893.0,35748.17,2.544263e+06,8.151755e+10,798.160105,"LINESTRING (4256649.412 2850493.491, 4257321.4..."
2,80226542.0,80191870.0,80192057.0,17.283609,3.0,DE111,2.0,1.398125e+07,1095814.0,205465.0,...,00,000,0,DE1,10951893.0,35748.17,2.544263e+06,8.151755e+10,798.160105,"LINESTRING (4256467.519 2850521.116, 4256484.7..."
3,80278802.0,80192249.0,80192019.0,296.463369,3.0,DE111,1.0,1.396141e+07,1095814.0,205465.0,...,00,000,0,DE1,10951893.0,35748.17,2.544263e+06,8.151755e+10,798.160105,"LINESTRING (4256760.323 2850487.506, 4256467.7..."
4,80871918.0,80192057.0,80192173.0,166.724457,3.0,DE111,1.0,1.398125e+07,1095814.0,205465.0,...,00,000,0,DE1,10951893.0,35748.17,2.544263e+06,8.151755e+10,798.160105,"LINESTRING (4256484.723 2850519.463, 4256649.4..."

In [17]:
split['length'] = split['length']/1000 # convert to km

In [20]:
split.to_file(path_ + 'bawue/bw-links-1kmsplit3035-gpd.gpkg')

In [19]:
line = split.copy()

### Compute vehicle kilometres

In [21]:
# daily vehicle kilometers
line['car_vkm']=line['length']*line['load_car']/365.25
line['lcv_vkm']=line['length']*line['load_lcv']/365.25
line['mft_vkm']=line['length']*line['load_mft']/365.25
line['hft_vkm']=line['length']*line['load_hft']/365.25

In [22]:
pkm=round(line['car_vkm'].sum()/1000000)
print('aggregierte Pkw-Fahrleistung aus Lines: {} mio vkm'.format(pkm))
pkm=round((line['lcv_vkm'].sum() + line['mft_vkm'].sum() + line['hft_vkm'].sum())/1000000)
print('aggregierte Güter-Fahrleistung aus Lines: {} mio vkm'.format(pkm))

aggregierte Pkw-Fahrleistung aus Lines: 183.0 mio vkm
aggregierte Güter-Fahrleistung aus Lines: 35.0 mio vkm

In [23]:
line.plot(column='load_car', figsize=(10,10), cmap='Spectral_r', legend=True)#, vmax=50000)
#line.plot(column='bel_day', figsize=(10,10), cmap='OrRd', legend=True, vmax=50000)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [24]:
plt.close('all')

In [25]:
line = line[['id_1', 'fromnode','tonode', 'length', 'type', 'nuts_id', 'urban', 'car_vkm', 'lcv_vkm', 'mft_vkm', 'hft_vkm','geometry']].copy()

In [26]:
line.head()

,id_1,fromnode,tonode,length,type,nuts_id,urban,car_vkm,lcv_vkm,mft_vkm,hft_vkm,geometry
0,80677104.0,80192562.0,80192249.0,0.553588,3.0,DE111,2.0,21160.480345,1660.860080,311.411076,51.904625,"LINESTRING (4257313.607 2850469.181, 4256760.3..."
1,80677106.0,80192173.0,80192573.0,0.672780,3.0,DE111,2.0,25753.077206,2018.458701,378.460776,63.080173,"LINESTRING (4256649.412 2850493.491, 4257321.4..."
2,80226542.0,80191870.0,80192057.0,0.017284,3.0,DE111,2.0,661.592122,51.853857,9.722592,8.278496,"LINESTRING (4256467.519 2850521.116, 4256484.7..."
3,80278802.0,80192249.0,80192019.0,0.296463,3.0,DE111,1.0,11332.093143,889.442055,166.770284,126.827489,"LINESTRING (4256760.323 2850487.506, 4256467.7..."
4,80871918.0,80192057.0,80192173.0,0.166724,3.0,DE111,1.0,6381.976388,500.202584,93.787927,79.857614,"LINESTRING (4256484.723 2850519.463, 4256649.4..."

### Create Grid with secondary vkm

In [27]:
sec = gpd.read_file(path_ + 'bawue/bw-cells.shp')
#grid_sec = grid_sec.to_crs({'init': 'epsg:3035'})

In [28]:
sec.head()

,nuts_id,secondary,fid,AGS,RS,SDV_RS,GEN,BEZ,IBZ,BEM,...,SN_V1,SN_V2,SN_G,FK_S3,NUTS,EWZ,KFL,SHAPE_Leng,SHAPE_Area,geometry
0,DE111,1.110542e+09,8.0,08,08,081110000000,Baden-Württemberg,Land,20,--,...,00,00,000,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,"POLYGON ((523044.534 5402433.726, 520532.183 5..."
1,DE112,3.367160e+08,8.0,08,08,081110000000,Baden-Württemberg,Land,20,--,...,00,00,000,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,"POLYGON ((511148.754 5383453.567, 509523.741 5..."
2,DE113,7.388176e+08,8.0,08,08,081110000000,Baden-Württemberg,Land,20,--,...,00,00,000,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,"POLYGON ((542995.641 5376391.118, 539058.474 5..."
3,DE114,2.642074e+08,8.0,08,08,081110000000,Baden-Württemberg,Land,20,--,...,00,00,000,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,"POLYGON ((543196.252 5376124.750, 542995.641 5..."
4,DE115,1.027680e+09,8.0,08,08,081110000000,Baden-Württemberg,Land,20,--,...,00,00,000,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,"MULTIPOLYGON (((504766.459 5400287.377, 502554..."

In [29]:
sec = sec.to_crs({'init':'epsg:3035'})

C:\Users\thom_nn\.conda\envs\geo_basics\lib\site-packages\pyproj\crs.py:77: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method.
  return _prepare_from_string(" ".join(pjargs))

In [30]:
grid_sec = gpd.sjoin(grid, sec[['nuts_id', 'geometry']], how = 'left', op='intersects')
grid_sec.head()

,rowid,featuretyp,dataset_na,OBJECTID,id,x_sw,y_sw,x_mp,y_mp,f_staat,...,FK_S3,NUTS,EWZ,KFL,SHAPE_Le_1,SHAPE_Ar_1,_sum,geometry,index_right,nuts_id
0,1202.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1202,1kmN5265E399,399000.0,5265000.0,399500.0,5265500.0,193454.0,...,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,180.808108,"POLYGON ((4145049.219 2716779.268, 4145587.602...",33.0,DE139
1,1203.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1203,1kmN5265E400,400000.0,5265000.0,400500.0,5265500.0,724457.0,...,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,804.211853,"POLYGON ((4145580.204 2716219.458, 4145587.602...",33.0,DE139
2,1204.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1204,1kmN5265E401,401000.0,5265000.0,401500.0,5265500.0,822318.0,...,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,1133.568177,"POLYGON ((4146577.415 2715940.046, 4146588.363...",33.0,DE139
3,1205.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1205,1kmN5265E402,402000.0,5265000.0,402500.0,5265500.0,447244.0,...,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,416.022656,"POLYGON ((4147578.976 2715984.983, 4147589.127...",33.0,DE139
4,1206.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1206,1kmN5265E403,403000.0,5265000.0,403500.0,5265500.0,24422.0,...,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,24.337452,"POLYGON ((4148587.305 2716535.038, 4148589.895...",33.0,DE139

In [31]:
len(grid_sec)

40209

In [32]:
len(grid)

36647

### Remove Duplicates

In [33]:
grid_sec = grid_sec.reset_index()

In [34]:
duplicates = grid_sec.groupby('rowid')['nuts_id'].count().reset_index()
duplicates = duplicates[duplicates['nuts_id'] > 1]['rowid'].unique()
len(duplicates)

3481

In [35]:
grid_sec_dup = grid_sec[grid_sec['rowid'].isin(duplicates)]
grid_sec_dup.head()

,index,rowid,featuretyp,dataset_na,OBJECTID,id,x_sw,y_sw,x_mp,y_mp,...,FK_S3,NUTS,EWZ,KFL,SHAPE_Le_1,SHAPE_Ar_1,_sum,geometry,index_right,nuts_id
151,151,2142.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,2142,1kmN5270E416,416000.0,5270000.0,416500.0,5270500.0,...,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,3.914374,"POLYGON ((4162421.498 2721529.908, 4162667.749...",33.0,DE139
152,151,2142.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,2142,1kmN5270E416,416000.0,5270000.0,416500.0,5270500.0,...,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,3.914374,"POLYGON ((4162421.498 2721529.908, 4162667.749...",34.0,DE13A
216,215,2376.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,2376,1kmN5271E416,416000.0,5271000.0,416500.0,5271500.0,...,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,140.732854,"POLYGON ((4161669.785 2721752.979, 4161680.303...",33.0,DE139
217,215,2376.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,2376,1kmN5271E416,416000.0,5271000.0,416500.0,5271500.0,...,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,140.732854,"POLYGON ((4161669.785 2721752.979, 4161680.303...",34.0,DE13A
218,216,2377.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,2377,1kmN5271E417,417000.0,5271000.0,417500.0,5271500.0,...,0,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,430.247308,"POLYGON ((4162667.749 2721526.406, 4162681.100...",33.0,DE139

In [36]:
len(grid_sec_dup)

7043

In [37]:
x = grid_sec.groupby('rowid')['nuts_id'].count().reset_index()
x[x['nuts_id'] > 2]

         rowid  nuts_id
4132   11351.0        3
4609   12461.0        3
4656   12508.0        3
4692   12544.0        3
4832   12896.0        3
...        ...      ...
33330  83567.0        3
33331  83568.0        3
33847  85816.0        3
33965  86276.0        3
34153  86804.0        3

[81 rows x 2 columns]

In [39]:
grid_sec_dup.plot(column='nuts_id', figsize=(10,10), cmap='Spectral_r', legend=True)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [41]:
# remove duplicates from dup gdf
d = list()
for r in duplicates:
    dup = grid_sec_dup[grid_sec_dup['rowid'] == r]
    drop = dup[dup['index_right'] < dup['index_right'].max()].index.tolist()
    d.extend(drop)
len(d)
grid_sec_dup = grid_sec_dup.drop(d)

In [42]:
len(grid_sec_dup)

3481

In [44]:
trouble = gpd.overlay(grid_sec_dup, sec[['AGS','geometry']], how='intersection')

In [45]:
trouble.head()

,index,rowid,featuretyp,dataset_na,OBJECTID,id,x_sw,y_sw,x_mp,y_mp,...,NUTS,EWZ,KFL,SHAPE_Le_1,SHAPE_Ar_1,_sum,index_right,nuts_id,AGS_2,geometry
0,151,2142.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,2142,1kmN5270E416,416000.0,5270000.0,416500.0,5270500.0,...,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,3.914374,34.0,DE13A,08,"POLYGON ((4162421.498 2721529.908, 4162543.776..."
1,215,2376.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,2376,1kmN5271E416,416000.0,5271000.0,416500.0,5271500.0,...,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,140.732854,34.0,DE13A,08,"POLYGON ((4161669.785 2721752.979, 4161680.303..."
2,216,2377.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,2377,1kmN5271E417,417000.0,5271000.0,417500.0,5271500.0,...,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,430.247308,34.0,DE13A,08,"POLYGON ((4162672.519 2721883.578, 4162681.100..."
3,283,2616.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,2616,1kmN5272E416,416000.0,5272000.0,416500.0,5272500.0,...,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,135.349071,34.0,DE13A,08,"POLYGON ((4161680.303 2722540.282, 4161693.659..."
4,284,2617.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,2617,1kmN5272E417,417000.0,5272000.0,417500.0,5272500.0,...,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,298.154800,34.0,DE13A,08,"POLYGON ((4162681.100 2722526.047, 4162690.422..."

In [46]:
len(trouble)

7043

In [47]:
sec2 = sec.copy()
sec2['geometry']= sec['geometry'].buffer(0.1)
trouble = gpd.sjoin(trouble[['rowid','geometry']], sec2[['nuts_id', 'geometry']], how = 'left', op = 'within')
trouble.head()

,rowid,geometry,index_right,nuts_id
0,2142.0,"POLYGON ((4162421.498 2721529.908, 4162543.776...",33,DE139
1,2376.0,"POLYGON ((4161669.785 2721752.979, 4161680.303...",33,DE139
2,2377.0,"POLYGON ((4162672.519 2721883.578, 4162681.100...",33,DE139
3,2616.0,"POLYGON ((4161680.303 2722540.282, 4161693.659...",33,DE139
4,2617.0,"POLYGON ((4162681.100 2722526.047, 4162690.422...",33,DE139

In [48]:
trouble['area'] = trouble.area
trouble['ix'] = list(range(len(trouble)))

In [49]:
trouble.plot(column='nuts_id', figsize=(10,10), cmap='Spectral_r', legend=True)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

#### Drop duplicate with smaller area

In [50]:
drops = list()
for r in trouble['rowid'].unique():
    dfr = trouble[trouble['rowid']==r]
    drop = dfr[dfr['area'] < dfr['area'].max()].index.tolist()
    drops.extend(drop)
len(drops)

3562

In [51]:
trouble = trouble.drop(drops)

In [52]:
grid_sec_dup = pd.merge(grid_sec_dup, trouble[['rowid', 'nuts_id']], on='rowid', how='left')

In [53]:
grid_sec_dup.head()

,index,rowid,featuretyp,dataset_na,OBJECTID,id,x_sw,y_sw,x_mp,y_mp,...,NUTS,EWZ,KFL,SHAPE_Le_1,SHAPE_Ar_1,_sum,geometry,index_right,nuts_id_x,nuts_id_y
0,151,2142.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,2142,1kmN5270E416,416000.0,5270000.0,416500.0,5270500.0,...,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,3.914374,"POLYGON ((4162421.498 2721529.908, 4162667.749...",34.0,DE13A,DE13A
1,215,2376.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,2376,1kmN5271E416,416000.0,5271000.0,416500.0,5271500.0,...,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,140.732854,"POLYGON ((4161669.785 2721752.979, 4161680.303...",34.0,DE13A,DE139
2,216,2377.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,2377,1kmN5271E417,417000.0,5271000.0,417500.0,5271500.0,...,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,430.247308,"POLYGON ((4162667.749 2721526.406, 4162681.100...",34.0,DE13A,DE13A
3,283,2616.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,2616,1kmN5272E416,416000.0,5272000.0,416500.0,5272500.0,...,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,135.349071,"POLYGON ((4161680.303 2722540.282, 4161693.659...",34.0,DE13A,DE139
4,284,2617.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,2617,1kmN5272E417,417000.0,5272000.0,417500.0,5272500.0,...,DE1,10951893,35748.17,2.544263e+06,8.151755e+10,298.154800,"POLYGON ((4162681.100 2722526.047, 4162694.453...",34.0,DE13A,DE13A

In [54]:
grid_sec_dup.plot(column='nuts_id_y', figsize=(10,10), cmap='Spectral_r', legend=True)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [55]:
plt.close('all')

In [56]:
drops_final = list()
for r in grid_sec_dup['rowid'].unique():
    nuts = grid_sec_dup[grid_sec_dup['rowid']==r]['nuts_id_y'].values[0]
    gr = grid_sec[(grid_sec['rowid'] == r)&(grid_sec['nuts_id'] != nuts)].index.tolist()
    drops_final.extend(gr)
len(drops_final)
# drop the one(s) with the wrong nuts_id

3562

In [57]:
grid_sec = grid_sec.drop(drops_final)
len(grid_sec)

36647

In [58]:
len(grid)

36647

In [59]:
grid_sec.plot(column='nuts_id', figsize=(10,10), cmap='Spectral_r', legend=True)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [60]:
plt.close('all')

### Distribute Mileage by Population Density

In [61]:
grid_sec = pd.merge(grid_sec, sec[['nuts_id','secondary']], on='nuts_id', how='left')

In [62]:
pop_sum = grid_sec.groupby(['nuts_id']).sum().reset_index()[['nuts_id','_sum']]

In [63]:
grid_sec = pd.merge(grid_sec, pop_sum, how='left', on='nuts_id')
grid_sec.head()

,index,rowid,featuretyp,dataset_na,OBJECTID,id,x_sw,y_sw,x_mp,y_mp,...,EWZ,KFL,SHAPE_Le_1,SHAPE_Ar_1,_sum_x,geometry,index_right,nuts_id,secondary,_sum_y
0,0,1202.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1202,1kmN5265E399,399000.0,5265000.0,399500.0,5265500.0,...,10951893,35748.17,2.544263e+06,8.151755e+10,180.808108,"POLYGON ((4145049.219 2716779.268, 4145587.602...",33.0,DE139,2.327335e+08,243797.384967
1,1,1203.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1203,1kmN5265E400,400000.0,5265000.0,400500.0,5265500.0,...,10951893,35748.17,2.544263e+06,8.151755e+10,804.211853,"POLYGON ((4145580.204 2716219.458, 4145587.602...",33.0,DE139,2.327335e+08,243797.384967
2,2,1204.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1204,1kmN5265E401,401000.0,5265000.0,401500.0,5265500.0,...,10951893,35748.17,2.544263e+06,8.151755e+10,1133.568177,"POLYGON ((4146577.415 2715940.046, 4146588.363...",33.0,DE139,2.327335e+08,243797.384967
3,3,1205.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1205,1kmN5265E402,402000.0,5265000.0,402500.0,5265500.0,...,10951893,35748.17,2.544263e+06,8.151755e+10,416.022656,"POLYGON ((4147578.976 2715984.983, 4147589.127...",33.0,DE139,2.327335e+08,243797.384967
4,4,1206.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1206,1kmN5265E403,403000.0,5265000.0,403500.0,5265500.0,...,10951893,35748.17,2.544263e+06,8.151755e+10,24.337452,"POLYGON ((4148587.305 2716535.038, 4148589.895...",33.0,DE139,2.327335e+08,243797.384967

In [64]:
grid_sec['scar_vkm'] = (grid_sec['secondary'] * (grid_sec['_sum_x']/grid_sec['_sum_y'])) #/ 365.25
grid_sec.head()

,index,rowid,featuretyp,dataset_na,OBJECTID,id,x_sw,y_sw,x_mp,y_mp,...,KFL,SHAPE_Le_1,SHAPE_Ar_1,_sum_x,geometry,index_right,nuts_id,secondary,_sum_y,scar_vkm
0,0,1202.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1202,1kmN5265E399,399000.0,5265000.0,399500.0,5265500.0,...,35748.17,2.544263e+06,8.151755e+10,180.808108,"POLYGON ((4145049.219 2716779.268, 4145587.602...",33.0,DE139,2.327335e+08,243797.384967,1.726028e+05
1,1,1203.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1203,1kmN5265E400,400000.0,5265000.0,400500.0,5265500.0,...,35748.17,2.544263e+06,8.151755e+10,804.211853,"POLYGON ((4145580.204 2716219.458, 4145587.602...",33.0,DE139,2.327335e+08,243797.384967,7.677156e+05
2,2,1204.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1204,1kmN5265E401,401000.0,5265000.0,401500.0,5265500.0,...,35748.17,2.544263e+06,8.151755e+10,1133.568177,"POLYGON ((4146577.415 2715940.046, 4146588.363...",33.0,DE139,2.327335e+08,243797.384967,1.082125e+06
3,3,1205.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1205,1kmN5265E402,402000.0,5265000.0,402500.0,5265500.0,...,35748.17,2.544263e+06,8.151755e+10,416.022656,"POLYGON ((4147578.976 2715984.983, 4147589.127...",33.0,DE139,2.327335e+08,243797.384967,3.971430e+05
4,4,1206.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1206,1kmN5265E403,403000.0,5265000.0,403500.0,5265500.0,...,35748.17,2.544263e+06,8.151755e+10,24.337452,"POLYGON ((4148587.305 2716535.038, 4148589.895...",33.0,DE139,2.327335e+08,243797.384967,2.323298e+04

In [65]:
print('Original secondary mileage: {} mrd vkm'.format(round(sec['secondary'].sum()/1000**3, 4)))
print('Secondary mileage from Grid: {} mrd vkm'.format(round(grid_sec['scar_vkm'].sum()/1000**3,4)))

Original secondary mileage: 12.7484 mrd vkm
Secondary mileage from Grid: 12.7484 mrd vkm

In [66]:
del trouble
del grid_sec_dup

#### NOx Emissions

In [67]:
grid_sec['nox'] = grid_sec['scar_vkm'] / 365.25 *0.339482826
grid_sec['nox'] = grid_sec['nox']/1000**2 # convert to tonne

In [68]:
print('NOx emissions from secondary: {} t'.format(round(grid_sec['nox'].sum(), 4)))

NOx emissions from secondary: 11.8491 t

In [69]:
grid_sec.plot(column='nox', figsize=(10,10), cmap='Spectral_r', legend=True, vmax = 0.05)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [70]:
plt.close('all')

## Join grid and lines (assign grid-id to line)

### Create buffer around grid for join operation

In [71]:
#erstelle 0.01m buffer um eindeutige Zuordung zu garatieren
grid_buff=grid_sec.copy()
grid_buff['geometry']= grid_sec['geometry'].buffer(0.01)

In [72]:
line['urban'].unique() # 1 io, 2 ao, 3 ab

array([2., 1., 3.])

In [73]:
line['ix'] = list(range(len(line)))
#line.to_file(path_ + 'bawue/bw-links-split3035-gpd-ix.gpkg')

In [74]:
join= gpd.sjoin(line, grid_buff[['geometry','id','scar_vkm']], how='left', op='within')
join = join.reset_index()
join.head()

,index,id_1,fromnode,tonode,length,type,nuts_id,urban,car_vkm,lcv_vkm,mft_vkm,hft_vkm,geometry,ix,index_right,id,scar_vkm
0,0,80677104.0,80192562.0,80192249.0,0.553588,3.0,DE111,2.0,21160.480345,1660.860080,311.411076,51.904625,"LINESTRING (4257313.607 2850469.181, 4256760.3...",0,23377.0,1kmN5401E509,1.427552e+06
1,1,80677106.0,80192173.0,80192573.0,0.672780,3.0,DE111,2.0,25753.077206,2018.458701,378.460776,63.080173,"LINESTRING (4256649.412 2850493.491, 4257321.4...",1,23377.0,1kmN5401E509,1.427552e+06
2,2,80226542.0,80191870.0,80192057.0,0.017284,3.0,DE111,2.0,661.592122,51.853857,9.722592,8.278496,"LINESTRING (4256467.519 2850521.116, 4256484.7...",2,23377.0,1kmN5401E509,1.427552e+06
3,3,80278802.0,80192249.0,80192019.0,0.296463,3.0,DE111,1.0,11332.093143,889.442055,166.770284,126.827489,"LINESTRING (4256760.323 2850487.506, 4256467.7...",3,23377.0,1kmN5401E509,1.427552e+06
4,4,80871918.0,80192057.0,80192173.0,0.166724,3.0,DE111,1.0,6381.976388,500.202584,93.787927,79.857614,"LINESTRING (4256484.723 2850519.463, 4256649.4...",4,23377.0,1kmN5401E509,1.427552e+06

In [75]:
len(join) - len(line)

925

#### Check for NaN and assign to gridcell from other line pieces

In [76]:
len(join[join['id'].isna()])

67

In [77]:
join[join['id'].isna()].head()

,index,id_1,fromnode,tonode,length,type,nuts_id,urban,car_vkm,lcv_vkm,mft_vkm,hft_vkm,geometry,ix,index_right,id,scar_vkm
31782,31761,80930672.0,80189402.0,80190750.0,9.313226e-13,1.0,DE112,3.0,4.903600e-08,9.747856e-09,1.827723e-09,6.263935e-09,"MULTILINESTRING ((4253399.429 2845573.917, 425...",31761,NaN,NaN,NaN
31817,31779,80566136.0,80206478.0,80207565.0,9.313226e-13,3.0,DE113,2.0,1.969942e-08,3.090895e-09,5.795440e-10,2.531513e-10,"MULTILINESTRING ((4272312.595 2837821.947, 427...",31779,NaN,NaN,NaN
31844,31793,80295130.0,80212136.0,80213389.0,1.862645e-12,2.0,DE113,1.0,4.569556e-08,2.060598e-09,3.863644e-10,3.300422e-10,"MULTILINESTRING ((4281198.540 2828604.536, 428...",31793,NaN,NaN,NaN
31849,31796,80295131.0,80213389.0,80212136.0,1.862645e-12,2.0,DE113,1.0,4.567025e-08,2.060598e-09,3.863644e-10,3.324267e-10,"MULTILINESTRING ((4282170.835 2826437.646, 428...",31796,NaN,NaN,NaN
31868,31806,80852419.0,80233594.0,80231194.0,9.313226e-13,2.0,DE114,1.0,1.848867e-08,4.497121e-10,8.432007e-11,8.168119e-10,"MULTILINESTRING ((4307201.008 2835552.567, 430...",31806,NaN,NaN,NaN

In [78]:
join[join['id'].isna()]['length'].sum()

0.0005596420238559279

In [79]:
join[join['id'].isna()]['car_vkm'].sum()

7.254589757874274

In [80]:
e = join[join['id'].isna()]['id_1']
d = {x:int(join[(join['id_1'] == x) & (join['id'].isna())]['ix']) for x in e}

print(len(d), len(e))

67 67

In [81]:
for i in d:
    dd = join[join['id_1'] == i]
    join.loc[join['ix'] == d[i],'id'] = dd[dd['index_right'] == dd['index_right'].max()]['id'].values[0]
len(join[join['id'].isna()])

0

#### Check Duplicates and delete if irrelevant

In [82]:
# duplicates
dup2 = join.groupby(['ix'])['id'].count().reset_index()
dup2 = dup2[dup2['id'] > 1]
dup2.head(10)

          ix  id
31740  31740   2
31741  31741   2
31742  31742   2
31743  31743   2
31744  31744   2
31745  31745   2
31746  31746   2
31747  31747   2
31748  31748   2
31749  31749   2

In [83]:
len(dup2)

925

In [84]:
ixes = dup2['ix']
len(ixes)

925

In [85]:
join[join['ix'].isin(ixes)]['length'].sum()

1.341071944111103e-09

In [86]:
join[join['ix'].isin(ixes)]['car_vkm'].sum()

2.4178413769675784e-05

In [87]:
d = list()
for x in ixes:
    dd = join[join['ix'] == x]
    dd = dd[dd['index_right'] != dd['index_right'].min()].index.tolist()
    d.extend(dd)
len(d)

925

In [88]:
join = join.drop(d)

In [89]:
pkm=round(join['car_vkm'].sum()/(1000*1000))
print('aggregierte Pkw-Fahrleistung aus join: {} mio vkm'.format(pkm))
pkm=round(join[['lcv_vkm','mft_vkm','hft_vkm']].sum()/(1000*1000))
print('aggregierte Güter-Fahrleistung aus join: {} mio vkm'.format(pkm))

aggregierte Pkw-Fahrleistung aus join: 183.0 mio vkm
aggregierte Güter-Fahrleistung aus join: lcv_vkm    20.0
mft_vkm     4.0
hft_vkm    11.0
dtype: float64 mio vkm

In [90]:
len(join) - len(line)

0

## Determine NOx Emissions from Lines

In [91]:
join['hft_vkm'] = join['hft_vkm'] + join['mft_vkm']

In [92]:
join['nox'] = 0
join['efak_c'] = 0
join['efak_l'] = 0
join['efak_s'] = 0
# urban
join.loc[join['urban'] == 1, 'efak_c'] = 0.339482826
join.loc[join['urban'] == 1, 'efak_l'] = 0.730588175
join.loc[join['urban'] == 1, 'efak_s'] = 3.313310965
#join.loc[join['urban'] == 1, 'nox'] = join.loc[join['urban'==1], 'car_vkm']*0.339482826 + join.loc[join['urban'==1], 'lcv_vkm']*0.730588175 + join.loc[join['urban'==1], 'hft_vkm']*3.313310965

# non urban
join.loc[join['urban'] == 2, 'efak_c'] = 0.246482558
join.loc[join['urban'] == 2, 'efak_l'] = 0.70965557
join.loc[join['urban'] == 2, 'efak_s'] = 1.178513993
#join.loc[join['urban'] == 2, 'nox'] = join.loc[join['urban'==1], 'car_vkm']*0.246482558 + join.loc[join['urban'==1], 'lcv_vkm']*0.70965557 + join.loc[join['urban'==1], 'hft_vkm']*1.178513993
# motorway
join.loc[join['urban'] == 3, 'efak_c'] = 0.453077526
join.loc[join['urban'] == 3, 'efak_l'] = 1.352543967
join.loc[join['urban'] == 3, 'efak_s'] = 1.040100617
#join.loc[join['urban'] == 3, 'nox'] = join.loc[join['urban'==1], 'car_vkm']*0.453077526 + join.loc[join['urban'==1], 'lcv_vkm']*1.352543967 + join.loc[join['urban'==1], 'hft_vkm']*1.040100617

join['nox'] = join['car_vkm']*join['efak_c'] + join['lcv_vkm']*join['efak_l'] + join['hft_vkm']*join['efak_s'] 
join['nox'] = join['nox']/(1000*1000) # convert to t
join.head()

,index,id_1,fromnode,tonode,length,type,nuts_id,urban,car_vkm,lcv_vkm,...,hft_vkm,geometry,ix,index_right,id,scar_vkm,nox,efak_c,efak_l,efak_s
0,0,80677104.0,80192562.0,80192249.0,0.553588,3.0,DE111,2.0,21160.480345,1660.860080,...,363.315700,"LINESTRING (4257313.607 2850469.181, 4256760.3...",0,23377.0,1kmN5401E509,1.427552e+06,0.006823,0.246483,0.709656,1.178514
1,1,80677106.0,80192173.0,80192573.0,0.672780,3.0,DE111,2.0,25753.077206,2018.458701,...,441.540949,"LINESTRING (4256649.412 2850493.491, 4257321.4...",1,23377.0,1kmN5401E509,1.427552e+06,0.008300,0.246483,0.709656,1.178514
2,2,80226542.0,80191870.0,80192057.0,0.017284,3.0,DE111,2.0,661.592122,51.853857,...,18.001089,"LINESTRING (4256467.519 2850521.116, 4256484.7...",2,23377.0,1kmN5401E509,1.427552e+06,0.000221,0.246483,0.709656,1.178514
3,3,80278802.0,80192249.0,80192019.0,0.296463,3.0,DE111,1.0,11332.093143,889.442055,...,293.597773,"LINESTRING (4256760.323 2850487.506, 4256467.7...",3,23377.0,1kmN5401E509,1.427552e+06,0.005470,0.339483,0.730588,3.313311
4,4,80871918.0,80192057.0,80192173.0,0.166724,3.0,DE111,1.0,6381.976388,500.202584,...,173.645541,"LINESTRING (4256484.723 2850519.463, 4256649.4...",4,23377.0,1kmN5401E509,1.427552e+06,0.003107,0.339483,0.730588,3.313311

In [93]:
nox=round(join['nox'].sum()/1)
print('aggregierte NOx Emissionen: {} t'.format(nox))

aggregierte NOx Emissionen: 107.0 t

### Aggregate NOx per grid-cell

In [94]:
group=join.groupby('id')['nox'].sum().reset_index()
group.head(10)

             id       nox
0  1kmN5266E400  0.000119
1  1kmN5266E401  0.002548
2  1kmN5266E402  0.007913
3  1kmN5266E403  0.005631
4  1kmN5266E404  0.007432
5  1kmN5266E405  0.006458
6  1kmN5266E406  0.006093
7  1kmN5266E420  0.005841
8  1kmN5267E397  0.000972
9  1kmN5267E398  0.007993

In [95]:
nox=round(group['nox'].sum()/(1))
print('aggregierte NOx Emissionen: {} t'.format(nox))

aggregierte NOx Emissionen: 107.0 t

#### Merge aggregeted NOx emissions to grid cells

In [96]:
len(group)

6255

In [97]:
df_merge=pd.merge(grid_sec, group, on='id', how = 'left')
df_merge.head()

,index,rowid,featuretyp,dataset_na,OBJECTID,id,x_sw,y_sw,x_mp,y_mp,...,SHAPE_Ar_1,_sum_x,geometry,index_right,nuts_id,secondary,_sum_y,scar_vkm,nox_x,nox_y
0,0,1202.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1202,1kmN5265E399,399000.0,5265000.0,399500.0,5265500.0,...,8.151755e+10,180.808108,"POLYGON ((4145049.219 2716779.268, 4145587.602...",33.0,DE139,2.327335e+08,243797.384967,1.726028e+05,0.000160,NaN
1,1,1203.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1203,1kmN5265E400,400000.0,5265000.0,400500.0,5265500.0,...,8.151755e+10,804.211853,"POLYGON ((4145580.204 2716219.458, 4145587.602...",33.0,DE139,2.327335e+08,243797.384967,7.677156e+05,0.000714,NaN
2,2,1204.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1204,1kmN5265E401,401000.0,5265000.0,401500.0,5265500.0,...,8.151755e+10,1133.568177,"POLYGON ((4146577.415 2715940.046, 4146588.363...",33.0,DE139,2.327335e+08,243797.384967,1.082125e+06,0.001006,NaN
3,3,1205.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1205,1kmN5265E402,402000.0,5265000.0,402500.0,5265500.0,...,8.151755e+10,416.022656,"POLYGON ((4147578.976 2715984.983, 4147589.127...",33.0,DE139,2.327335e+08,243797.384967,3.971430e+05,0.000369,NaN
4,4,1206.0,DE_Grid_ETRS89-UTM32_1km,de_grid_utm32_1km,1206,1kmN5265E403,403000.0,5265000.0,403500.0,5265500.0,...,8.151755e+10,24.337452,"POLYGON ((4148587.305 2716535.038, 4148589.895...",33.0,DE139,2.327335e+08,243797.384967,2.323298e+04,0.000022,NaN

In [98]:
len(df_merge[df_merge['nox_y'].isna()])

30392

In [99]:
len(grid_sec)-len(group)

30392

for all grid cells without a road within, nox from line shape are set to 0

In [100]:
df_merge= df_merge.fillna(0)

In [101]:
df_merge['nox'] = df_merge['nox_x'] + df_merge['nox_y']

In [102]:
nox=round(df_merge['nox'].sum(), 4)
nox_x=round(df_merge['nox_x'].sum(), 4)
nox_y=round(df_merge['nox_y'].sum(), 4)
print('aggregierte NOx Emissionen gesamt: {} t'.format(nox))
print('davon aus lines: {} t'.format(nox_y))
print('davon aus secondary: {} t'.format(nox_x))

aggregierte NOx Emissionen gesamt: 118.4598 t
davon aus lines: 106.6107 t
davon aus secondary: 11.8491 t

# Plot Grid

In [103]:
import cartopy as ctpy

In [104]:
def plot_grid(grid, fig_label, title1, col1, leg):
    # Reproj
    crs = ctpy.crs.Mollweide()
    crs_proj4 = crs.proj4_init
    geom_reproj = grid.to_crs(crs_proj4)
    # Plot
    fig = plt.figure()
    fig.set_label(fig_label)
    
    ax1 = fig.add_subplot(1,1,1, projection=crs, label = 'no1')
    ax1.add_feature(ctpy.feature.COASTLINE)
    ax1.set_title(title1)
    geom_reproj.plot(ax=ax1, column= col1,cmap='Spectral_r', legend=True,legend_kwds= {'label':leg})#, vmax=150)
    
    fig.tight_layout()

In [105]:
plot_grid(df_merge, 'bw-nox-1x1', 'NOx Emissions from Road-Based Transport in Baden-Württemberg', 'nox','t NOx/sqkm')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

C:\Users\thom_nn\.conda\envs\geo_basics\lib\site-packages\ipykernel_launcher.py:15: UserWarning: Tight layout not applied. The left and right margins cannot be made large enough to accommodate all axes decorations.
  from ipykernel import kernelapp as app

In [106]:
plt.close('all')

In [107]:
# export
df_merge[['id', 'OBJECTID', 'nuts_id', 'nox_x', 'nox_y', 'nox', 'geometry']].to_file(path_ + 'bawue/bw-grid-nox-1x1km')